<% include ./partials/header %>
        <div class='greeting'>
            <div class='blurb'>
            <h1>Welcome to Jones Lab</h1>
            <hr id='division'>
            <h4>Wake Forest School of Medicine</h4>
            </div>
            
            <i class="fa fa-caret-down fa-fw fa-4x" aria-hidden="true" id='caret'></i>
        </div>
        <div class='container aboutUs'>
            <p>
                <span>H</span>i!, We're Jones Lab. Our laboratory is mainly focused on measuring monoamine (dopamine, serotonin and norepinephrine) neurotransmitters in several different animal models of drug and alcohol abuse. The two primary techniques used are cyclic voltammetry and microdialysis. We have current projects examining the consequences of chronic exposure to cocaine, amphetamine, alcohol, Ritalin and high-fat diets. We have collaborations with Drs. Brian McCool and Jeff Weiner concerning the consequences of early life stress and alcohol dependence on dopamine and glutamate signaling in the basolateral amygdala and nucleus accumbens, and with Drs. Rong Chen and Habibeh Khoshbouei (Univ FL) on how dopamine transporters are altered by stimulant exposure.
            </p>
            <p>
                <span>J</span>ones Lab is affiliated with the Wake Forest Neuroscience and IPP (integrated physiology and pharmacology) graduate student programs. Interested students are encouraged to inquire about rotation opportunities by emailing Dr. Sara Jones at srjones@wakehealth.edu. 
            </p>
            <i class="fa fa-flask fa-fw fa-3x" aria-hidden="true" id='flask'></i>
        </div>

<% include ./partials/footer %>